@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

	<p><a href="@ViewBag.GoogleLink">login with the google</a></p>
	
	<form asp-action="ExternalLogin">
		<input type="hidden" name="id" value="facebook"/>
		<p><input type="submit" class="btn btn-primary" value="Facebook" /></p>
	</form>
</div>
