@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

	<p><a href="@ViewBag.GoogleLink">login with the google</a></p>
	
	<p><a href="@ViewBag.FacebookLink">login with the facebook</a></p>
</div>
