@{
    ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<form asp-action="ExternalLogin">
			<input type="hidden" name="id" value="google" />
			<p><input type="submit" class="btn btn-primary" value="Google" /></p>
		</form>

		<form asp-action="ExternalLogin">
			<input type="hidden" name="id" value="facebook" />
			<p><input type="submit" class="btn btn-primary" value="Facebook" /></p>
		</form>
	</div>
